:root {
    --background:#343232;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background: #fff;
    color: #343232;
    font-family: 'Oswald', sans-serif;;
    font-weight: 400;
  }

  /* Header Bar*/
  header {
    background: var(--background);
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .top-logo {
    margin: 0;
    padding: 15px;
    width: 270px;
  }

  .nav-toggle {
    display: none;
  }
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 500ms ease-out;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  nav a {
    color: #EFEBE5;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 200ms ease-out;
    
  }
  html {
    scroll-behavior: smooth;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
    
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 300ms ease-out 400ms;
  }

  nav a:hover {
    color: #F2CE57;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #F2CE57;
  height: 3px;
  width: 2em;
  border-radius: 10px;
  position: relative;
}


.nav-toggle-label span::before,
.nav-toggle-label span::after {

  content: "";

}

.nav-toggle-label span::before {
  
  bottom: 9px;
}


.nav-toggle-label span::after {
  
  top: 6px;
}
 
@media screen and (min-width: 1400px){
    .nav-toggle-label {
      display: none;
    }
    
    header{
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr);
      padding: 0 8% 0 4%;
    }
    
    .top-logo {
      grid-column: 2/3;
    }
    
    nav {
      all:unset;
      grid-column: 3/4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    nav ul{
      display: flex;
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
    }
    /*
    nav a::before {
      content:"";
      display: block;
      height: 3px;
      background: #F2CE57;
      position: absolute;
      border-radius: 10px;
      top: -.5em;
      left: 0;
      right: 0;
      transform: scale(0,1);
      transform-origin: left;
      transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
      transform: scale(1,1);
    }
    */
  }

  h1 {
    font-weight: 700;
    color: #fff;
    font-size: 100px;
    text-shadow: 2px 2px 4px #000;
    
  } 
h2 {
    color: #61AB3B;
}

  .hero-image {
    height: 100vh;
    background-image: url("images/hero-image.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20%;
  }

  /* Button */
.donate-button{
    font-size: 1.1em;
    font-family: 'Oswald', sans-serif;;
    font-weight: 500;
    color: #EFEBE5;
    background: #61AB3B;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
  }

  /*Mission*/

  .mission{
    height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  

  .whats-our-mission{
    max-width: 420px;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: #61AB3B;
    margin: auto;
    
    
  }

  .mission-text{
    max-width: 700px;
    margin: 50px auto;
    font-weight: 400;
    font-size: 35; 
    text-align: center;
    line-height: 1.5em;
    
  }

  .yellowbar{
      background-color:#F2CE57;
      height: 10px;
  }

  .about{
    height: 100vh;
    background-image: url("images/trash1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex;
    justify-content: center;
    flex-direction: column;
    
  }

  .overlay {
      background-color: white;
      padding: 5% 12%;
      display: block;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20%;
      text-align: center;

  }

  .text{
      text-align: left;
    
  }

  .trashpile{
      background-image: url('images/pile-of-trash.jpeg');
      background-size: contain;
      background-position: center;
      display:flex;
      height: 120vh;
      justify-content: center;
      background-repeat: no-repeat;
  }

  .campaign{
    height: 400px;
    padding: 0 400px 0 400px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: left;
  }

  .bottle{
    background-image: url('images/plastic_bottle.jpg');
    background-size: contain;
    background-position: center;
    display:flex;
    height: 300px;
    justify-content: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    

  }

  .take-action{
    height: 100vh;
    background-image: url("images/trash2.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
.poster{
    height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.campaign-overlay {
  background-color: white;
  padding: 0% 12% 0% 12%;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15% 20% 0 20%;
  text-align: center;

}


/*Light box*/
* {
  box-sizing: border-box;
}

.row{
  margin-bottom: 200px;
}

.column {
  float: left;
  width: 33%;
  padding: 80px;
}


.column img {
  opacity: 1; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 0.8;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40%;

}


#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}


.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}



.container {
  height: 100vh;
}

.gallery-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.image-thumb {
  width: 150px;
  height: 150px;
  margin: 15px;
  position: relative;
}

.image-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(80%);
  transition: .1s;
  cursor: pointer;
}

.image-thumb img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background: black;
  border: 2px solid white;
}


/*Contact*/

.contact-section {
  background-color: var(--background);
}

.contact-form {
  height: 100vh;
  background-image: url("../images/philly_skyline_blue.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
    
}
form {
  width: 500px;
  background: var(--background);
  padding: 35px;
  margin-top: 20vh /*vh stands for view height*/;
  margin-bottom: 20vh;
  box-shadow: color,black 0 0 4px;
  color: #fff;
}

input{
  width: 100%;
  
  
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea{
  display: block;
  
  max-height: 400px;
  width: 100%;
  overflow: hidden; 
  
}

input, textarea{
 
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--background);
  margin: 10px;
  font-size: 0.85em;
  background-color: #EFEBE5;
  
  
}


input:focus, textarea:focus {
  box-shadow: 0 0 4px;
  background: #fff;
  border-radius: 5px;
}

::placeholder {
  color: var(--background);
  font-size: 0.85em;
  font-family:'Open Sans', sans-serif;
  opacity: .25;
}

.submit-button{
  display: block;
  padding: 10px 30px;
  outline: none;
  border-radius: 25px;
  margin: 20px auto;
  border:none;
  font-weight: 800;
  color: #fff;
  background-color: #F2CE57;
  
}

submit-button:hover {
  background-color: #575757;
}



/*Footer*/

footer {
	width:100%;
	padding:100px 0;
  float: left;
	text-align: center;
  background-color:#ACA3A3;
}

footer a:link {
	color:#fff;
	text-decoration: none;
}

footer a:visited {
	color:#fff;
	text-decoration: none;
}
footer a:hover {
	color:#F2CE57;
	text-decoration: none;
}
footer a:active {
	color:#ffffff;
	text-decoration: none;
}

.copyright {
  width:100%;
} 

.fa-facebook,
.fa-twitter,
.fa-instagram {
	font-size: 2em;
	margin: 20px 5px 0 5px;
	color: #B2CDEA;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
	color: #F0E0B4;
}